$clr-primary-100: hsl(14, 45%, 36%);
$clr-primary-200: hsl(332, 51%, 32%);

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(330, 100%, 98%);
$clr-neutral-300: hsl(30, 54%, 90%);
$clr-neutral-400: hsl(30, 18%, 87%);
$clr-neutral-500: hsl(30, 10%, 34%);
$clr-neutral-600: hsl(24, 5%, 18%);
