.recipe{
    margin-block-start: 0;
    border-radius: 0;

    &__thumbnail{
        position: relative;
        border-radius: 0;
        width: calc( 100% + clamp(4rem, 22vw, 5rem )) ;
        left: -2.5rem;
        top: -2.5rem;
    }

    &__title {
        margin-block-start: -.5rem;
        font-size: 2rem;
        line-height: 1.1;
    }
}